.commets{
    padding: 2rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto; 
}

.cmt-edit{
    position: relative;
}

.cmt-edit button{
    position: absolute;
    right: 0;
    top: -1px;
}

.comment{
    margin: .5rem 0;
}

.extra{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: .5rem;
}

.comment-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-body{
    word-break: break-all;
    line-height: 1.1;
    margin-bottom: .7rem;
    margin-left: 2.2rem;
    opacity: .8;
}

.comment-time{
    font-size: .7rem;
    opacity: .6;
}

.cmt-form{
    position: fixed;
    max-width: 540px;
    width: 90%;
    padding: .5rem;
    background-color: white;
    bottom: 0;
}
