#nav-bar{
    top: 0;
    z-index: 3;
    position: sticky;
    margin-bottom: .7rem;
}

nav {
    padding: 1rem;
    max-width: 950px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center; 
    background-color: white;
    border-bottom: 1px solid black;
}

.list, #inMod div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#modal{
    z-index: 5;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0,0, 0.9);
}

#inMod{
    z-index: 6;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
}

.nav-icons{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#profile{
    border-radius: 50%;
}

.miniProfile{
    z-index : 2;
    top: 130%;
    right: 0;
    padding: 0 2rem;
    position: absolute;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgba(0, 0,0, 0.1);
}

.miniProfile ul li{
    margin: .5rem 0;
}

@media (max-width: 450px){    
    .nav-icons{
        width: 15px;
        height: 15px;
    }
   
    .miniProfile{
        padding: 0 1rem;
    }
}